*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins';
}

nav{
    display: flex;
    box-shadow: 0px 5px 5px rgb(0,0,0,0.1);
    padding: 1rem;
    height: 40px;
}

section{
    padding: 2rem;
}

.hero img{
    max-width: 100%;
    margin-bottom: 1rem;
}

.card{
    width: 300px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px lightgray, -5px 0 5px lightgray;
}
.experience-cover-img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}
.card-body{
    padding: 10px;
}

.text-light{
    color: lightgray;
}

.experience-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}